{% extends 'layout.html' %}
{% comment %} this html file extends from global layout.html in the global templates folder. we defined global templates folder in the settings.py {% endcomment %}
{% comment %} we loaded static to load the static files {% endcomment %}
{% load static %}

{% block css_files %}
    {% comment %} this is not the global style.css file. This is local.{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css_files %}

{% comment %} page title {% endcomment %}
{% block page_title %}
    Index
{% endblock page_title %}

{% block content %}

{% comment %} we added the bootstrap library {% endcomment %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Ürünler</h1>
            <ul>
                {% for product in products %}
                    {% if product.isActive %}
                        <li>
                            <a href={% url 'product_details' product.slug %}>
                                {{ product.name }}
                            </a>
                            - {{ product.price }}
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
            <hr>
            <p> {{ product_count }} adet ürün bulundu. </p>
            <p> {{ price.price__avg }} TL ortalama fiyat hesaplandı. </p>
            <p> {{ price.price__min}} TL min fiyat hesaplandı. </p>
            <p> {{ price.price__max }} TL max fiyat hesaplandı. </p>
        </div>
    </div>

</div>

{% endblock content %}

{% comment %} this is the local js file!!! {% endcomment %}
{% block js_files %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock js_files %}